body {
  font-family: "Allerta", sans-serif;
	margin: 0;
}
/* Inicio Header */
.headerBackground {
  background: rgb(14, 59, 148);
  background-image: url("images/hola.png");
	background-size: cover;
  box-shadow: 0px 3px 15px #B8C4C6;
  padding-bottom: 13%;
  padding-top: 10%;
}
header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 22px;
  /* padding: 0.5%; */
}
.head1 {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 1%;
}
.icon img {
  vertical-align: middle;
  display: inline-block;
	margin-right: 19%;
}
header a {
  text-decoration: none;
  color: white;
	margin: 16px;
}
.contactame {
  border-radius: 13px;
  border: none;
  padding: 12px;
  background:white;
  cursor: pointer;
  background: linear-gradient(to left, #206eec, #2C9CEF);
}
.contactamefont {
  color: #fdfdfd;
  font-size: 16px;
}
/* Fin Header */

/* INTRO INICIO */
.comilla {
  margin: 0 auto;
  display: block;
}
.cvtc {
  text-align: center;
  font-size: 50px;
  color: white;
}
.learnvideo {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
}
.videoicon {
  margin: 0 auto;
  margin-top: 4%;
  display: block;
}
/* INTRO FIN*/

/* Inicio Section1 */
.section1 {
  padding-bottom: 10%;
}
.click {
  margin-top: 3%;
  font-size: 40px;
  text-align: center;
}
/* Fin Section1 */

/* Inicio Section2 */
.section2 {
  background: #f9f9f9;
  padding: 1%;
	/* padding-bottom: 5%; */
	/* box-shadow: 0px 2px 10px #B8C4C6; */
}
.juxtapose{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top: 4px solid #1D47A3;
  border-bottom: 4px solid #1D47A3;
	border-radius: 3px;
	padding: 20px 50px 15px 50px;

}
/* Fin Section2 */

/* Inicio Section3 */
.p1 {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #00022d;
}
.bars {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}
.linneg {
  color: #00022d;
  font-size: 40px;
  text-align: center;
}
.seller{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: 100px;
  text-align: center;
  font-size: 16px;
}
.seller1{
    margin: 40px;
}
.seller2{
    margin: 40px;
}
.seller3{
    margin: 40px;
}
.seller4{
    margin: 40px;
}
.testimonials{
    text-align: center;
    font-size: 30px;
}
.inspiration{
    text-align: center;
    font-size: 40px;
    background-color: #00012A;
    margin-top: 5%;
    margin-bottom: 7%;
    padding-top: 3%;
		padding-bottom: 3%;
		box-shadow: 0px 5px 30px #B8C4C6;
}
.inspiration p{
    color: white;
    margin: 0px 230px 0px 230px;
}
.sellertime{
	color: #FBCD00
}
footer{
	text-align: center;
	background: rgb(255, 255, 255);
	padding-bottom: 5%;
}
.contact h3{
		display: flex;
		justify-content: center;
		color: #00082C;
		font-size: 50px;
}
.contact_us{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.cname{
	font-size: 25px;
	margin: 5px;
}
.cmail{
	font-size: 25px;
	margin: 22px;
}
.coment{
	font-size: 18px;
}
.textarea1{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #00082C;
}
.contact_us input{
	border: 1px solid #00082C;
	width: 400px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 20px;
	cursor: text;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	padding: 10px;
}
.btn{
	margin-top: 20px;
	width: 20%;
	padding: 10px;
	color: #00082C;
	font-size: 20px;
	margin: 0 auto;
	border: 0;
	background: #FBCD00;
	border-radius: 12px;
}

