body {
  /* font-family: sans-serif; */
  font-family: 'Asap', sans-serif;
	margin: 0;
}
/* Inicio Header */
.headerBackground {
  background: rgb(14, 59, 148);
  background-image: url("images/hola.png");
	background-size: cover;
  box-shadow: 0px 3px 15px #B8C4C6;
  padding-bottom: 15%;
  padding-top: 9%;
}
header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 22px;
  /* padding: 0.5%; */
}
.head1 {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 1%;
}
.icon img {
  vertical-align: middle;
  display: inline-block;
	margin-right: 19%;
}
header a {
  text-decoration: none;
  color: white;
	margin: 16px;
}
.contactame {
  border-radius: 13px;
  border: none;
  padding: 12px;
  background:white;
  cursor: pointer;
  background: linear-gradient(to left, #206eec, #2C9CEF);
}
.contactamefont {
  color: #fdfdfd;
  font-size: 16px;
}
/* Fin Header */

/* INTRO INICIO */
.comilla {
  margin: 0 auto;
  display: block;
}
.cvtc {
  text-align: center;
  font-size: 60px;
  margin-right: 8%;
  margin-left: 8%;
  color: white;
}
.learnvideo {
  text-align: center;
  font-size: 40px;
  color: white;
}
.videoicon {
  margin: 0 auto;
  margin-top: 4%;
  display: block;
}
.grow:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
/* INTRO FIN*/

/* Inicio Section1 */
/* .section1 {
  padding-bottom: 10%;
}
.click {
  margin-top: 3%;
  font-size: 40px;
  text-align: center;
} */
/* Fin Section1 */


/* Inicio Section2 */
.section2 {
  background: #f9f9f9;
  padding: 1%;
	/* padding-bottom: 5%; */
	/* box-shadow: 0px 2px 10px #B8C4C6; */
}
/* .juxtapose{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top: 4px solid #1D47A3; 
  border-bottom: 4px solid #1D47A3; 
	border-radius: 3px;
	padding: 20px 50px 15px 50px;

} */

/* Fin Section2 */

/* Inicio Section3 */
.p1 {
  display: block;
  text-align: center;
  font-size: 50px;
  color: #151618;
}
.bars {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}

/* LINEAS DE NEGOCIO */
.linneg {
  color: rgb(34, 35, 38);
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 2%;
  background: white;
}
.seller{
  font-size: 23px;
}
.seller1{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4%;
  border-radius: 3px;
  background: linear-gradient(to left, rgb(2, 136, 170) ,#1E48A4);  
}
.c1, .c3, .c5{
  text-align: center;
  margin: 0 350px;
  margin-top: 0.5%;
  margin-bottom: 3%;
}
.seller2{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 5%;
  border-radius: 5px;
  background: linear-gradient(to left, rgb(199, 147, 4), rgb(224, 203, 45));
}
.c3 {
  color: rgb(34, 35, 38);
}
.seller3{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3%;
  border-radius: 3px;
  background: linear-gradient(to left, rgb(36, 26, 27), rgb(2, 26, 22));
}
.c3 h2 {
  color: rgb(255, 255, 255);
}
.c5 h2 {
  color: #FF3395;
  font-size: 40px;
}
.seller img {
  margin: 30px 0 5px 0;
  border-radius: 5px;
}

/* LINEAS DE NEGOCIO */

/* TESTIMONIALS */
.testimonials{
    text-align: center;
}
.testimonials p {
  font-size: 60px;
  color: #003987;
}
.imgtes {
  border: 5px solid #2C9CEF;
  border-radius: 15px;
  box-shadow: 0px 5px 30px #B8C4C6;
}
/* TESTIMONIALS */

/* INSPIRATION SECTION */
.inspiration{
    text-align: center;
    font-size: 37px;
    background: linear-gradient(to left, rgb(36, 26, 27), rgb(2, 26, 22));
    margin-top: 5%;
    margin-bottom: 7%;
    padding-top: 3%;
		padding-bottom: 3%;
		box-shadow: 0px 1px 30px #B8C4C6;
}
.inspiration p{
    color: white;
    margin: 0px 230px 0px 230px;
}
.sellertime{
	color: #FBCD00
}
/* INSPIRATION SECTION */

/* CONTACTME */
footer{
	text-align: center;
	background: rgb(255, 255, 255);
	padding-bottom: 5%;
}
.contact h3{
		display: flex;
		justify-content: center;
		color: #00082C;
		font-size: 50px;
}
.contact_us{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.cname{
	font-size: 25px;
	margin: 5px;
}
.cmail{
	font-size: 25px;
	margin: 22px;
}
.coment{
	font-size: 18px;
}
.textarea1{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #00082C;
}
.contact_us input{
	border: 1px solid #00082C;
	width: 400px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 20px;
	cursor: text;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	padding: 10px;
}
.btn{
	margin-top: 20px;
	width: 25%;
	padding: 10px;
	color: #00082C;
	font-size: 20px;
	margin: 0 auto;
	border: 0;
	background: #FBCD00;
	border-radius: 12px;
}
/* CONTACTME */


/* ANIMATIONS */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* ANIMATIONS */


/* CONTACT */

.section {
  text-align: center;
}
/* facebook */
.facebook {
  background: linear-gradient(to left, #206eec, #2C9CEF);
  margin: 0 430px;
  margin-top: 6%;
  padding-bottom: 1%;
  border-radius: 30px;
}
.section a {
    text-decoration: none;
    color: #e9f2ff;
    font-size: 30px;
}
.section h2 {
  color: #ffffff;
  font-size: 40px;
}
.li, .l2 {
  vertical-align: middle;
  margin: 10px;
}

/* facebook */

/* instagram */
.instagram {
  background: linear-gradient(to left, #d8207c, rgb(44, 106, 239));
  margin: 0 430px;
  padding-bottom: 1%;
  border-radius: 30px;
}
.instagram a, img{
  vertical-align: middle;
  margin-right: 0.8%;
}

/* instagram */

/* whatsapp */
.whatsapp a, img{
  vertical-align: middle;
  margin-right: 0.5%;
}
.whatsapp {
  background: linear-gradient(to left, #1ccce4, rgb(16, 197, 91));
  margin: 0 430px;
  padding-bottom: 1%;
  border-radius: 30px;
}
/* whatsapp */

/* SOBRE MI */
.photo img {
  border-radius: 300px;
  display: block;
  margin: 0 auto;
}
.photo {
  margin-top: 4%;
  margin-bottom: 3%;
}
.article p {
  text-align: center;
  font-size: 20px;
  margin: 0 400px;
}
/* SOBRE MI */

/* CONTACT */

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1161px) {
  .header {
    font-size: 20px;
  }
  .headerBackground {
    background-size: cover;
  }
  .icon img {
    margin-right: 8%;
  }
  .cvtc {
    font-size: 50px;
  }
  .videoicon {
    width: 6%;
    height: 6%;
  }
  .p1 {
    font-size: 40px;
  }
  .testimonials p {
    font-size: 40px;
  }
  .inspiration {
    font-size: 30px;
  }
  .contact h3 {
    font-size: 40px;
  }
  .btn {
    font-size: 18px;
  }
  .seller {
    font-size: 20px;
  }
  .linneg {
    font-size: 30px;
  }
  .seller img {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
  }
  .c6 {
    width: 60%;
  }
  .c5 h2 {
    font-size: 40px;
  }
  .c1, .c3, .c5{
    margin: 0 150px;
    margin-bottom: 1%;
  }
  /* contáctame */
  .section h2 {
    font-size: 30px;
  }
  .section a {
    font-size: 25px;
  }
  .facebook {
    margin: 0 300px;
    margin-top: 9%;
  }
  .instagram {
    margin: 0 300px;
  }
  .whatsapp {
    margin: 0 300px;
    margin-bottom: 1%;
  }
  /* contáctame */

  /* SOBRE MI */
.photo img {
  border-radius: 300px;
  display: block;
  margin: 0 auto;
  width: 25%;
}
.photo {
  margin-top: 10%;
  margin-bottom: 3%;
}
.article p {
  text-align: center;
  font-size: 17px;
  margin: 0 300px;
}
/* SOBRE MI */
}

@media screen and (max-width: 1024px) {
  .head1 {
    font-size: 16px;
  }
  .headerBackground {
    background-size: cover;
    padding-bottom: 13%;
  }
  .comilla {
    width: 5%;
  }
  .icon img {
    width: 30%;
    margin-right: 5%;
  }
  .contactame {
    padding: 7px;
  }
  .contactamefont {
    font-size: 13px;
  }
  .cvtc {
    font-size: 35px;
  }
  .learnvideo {
    font-size: 25px;
  }
  .videoicon {
    width: 6%;
    height: 6%;
  }
  .p1 {
    font-size: 30px;
  }
  .testimonials p {
    font-size: 30px;
  }
  .testimonials .imgtes {
    width: 63%;
    border: 4px solid #2C9CEF;
  }
  .inspiration {
    font-size: 20px;
  }
  .inspiration p {
    margin: 0 95px 0 95px;
  }
  .contact h3 {
    font-size: 30px;
  }
  .btn {
    font-size: 16px;
  }
  .seller {
    font-size: 18px;
  }
  .linneg {
    font-size: 25px;
  }
  .seller img {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
  }
  .c6 {
    width: 55%;
  }
  .c5 h2 {
    font-size: 25px;
  }
  .c1, .c3, .c5{
    margin: 0 100px;
    margin-bottom: 1%;
  }
  .bars {
    width: 45%;
  }
  .contact_us input{
    font-size: 14px;
  }
  /* contáctame */
  .section h2 {
    font-size: 20px;
  }
  .section a {
    font-size: 18px;
  }
  .facebook {
    margin: 0 150px;
    margin-top: 11%;
  }
  .instagram {
    margin: 0 150px;
  }
  .whatsapp {
    margin: 0 150px;
  }
  .whatsapp img {
    width: 10%;
  }
  /* contáctame */

   /* SOBRE MI */
.photo img {
  border-radius: 300px;
  display: block;
  margin: 0 auto;
  width: 25%;
}
.photo {
  margin-top: 10%;
  margin-bottom: 3%;
}
.article p {
  text-align: center;
  font-size: 17px;
  margin: 0 100px;
}
/* SOBRE MI */
}
/* RESPONSIVE DESIGN */

