body {
  font-family: sans-serif;
	margin: 0;
}
/* Inicio Header */
.headerBackground {
  background: rgb(14, 59, 148);
  background-image: url("images/hola.png");
	background-size: cover;
  box-shadow: 0px 3px 15px #B8C4C6;
  padding-bottom: 13%;
  padding-top: 9%;
}
header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 22px;
  /* padding: 0.5%; */
}
.head1 {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 1%;
}
.icon img {
  vertical-align: middle;
  display: inline-block;
	margin-right: 19%;
}
header a {
  text-decoration: none;
  color: white;
	margin: 16px;
}
.contactame {
  border-radius: 13px;
  border: none;
  padding: 12px;
  background:white;
  cursor: pointer;
  background: linear-gradient(to left, #206eec, #2C9CEF);
}
.contactamefont {
  color: #fdfdfd;
  font-size: 16px;
}
/* Fin Header */

/* INTRO INICIO */
.comilla {
  margin: 0 auto;
  display: block;
}
.cvtc {
  text-align: center;
  font-size: 60px;
  margin-right: 8%;
  margin-left: 8%;
  color: white;
}
.learnvideo {
  text-align: center;
  font-size: 40px;
  color: white;
}
.videoicon {
  margin: 0 auto;
  margin-top: 4%;
  display: block;
}
.grow:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
/* INTRO FIN*/

/* Inicio Section1 */
/* .section1 {
  padding-bottom: 10%;
}
.click {
  margin-top: 3%;
  font-size: 40px;
  text-align: center;
} */
/* Fin Section1 */


/* Inicio Section2 */
.section2 {
  background: #f9f9f9;
  padding: 1%;
	/* padding-bottom: 5%; */
	/* box-shadow: 0px 2px 10px #B8C4C6; */
}
/* .juxtapose{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top: 4px solid #1D47A3; 
  border-bottom: 4px solid #1D47A3; 
	border-radius: 3px;
	padding: 20px 50px 15px 50px;

} */

/* Fin Section2 */

/* Inicio Section3 */
.p1 {
  display: block;
  text-align: center;
  font-size: 50px;
  color: #151618;
}
.bars {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}

/* LINEAS DE NEGOCIO */
.linneg {
  color: rgb(34, 35, 38);
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 2%;
  background: white;
}
.seller{
  font-size: 23px;
}
.seller1{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4%;
  border-radius: 3px;
  background: linear-gradient(to left, rgb(2, 136, 170) ,#1E48A4);  
}
.c1, .c3, .c5{
  text-align: center;
  margin: 0 350px;
  margin-top: 0.5%;
  margin-bottom: 3%;
}
.seller2{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.c3 {
  color: rgb(34, 35, 38);
}
.seller3{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4%;
  border-radius: 3px;
  background: linear-gradient(to left, rgb(36, 26, 27), rgb(2, 26, 22));
}
.c3 h2 {
  color: rgb(240, 183, 51);
}
.c5 h2 {
  color: #FF3395;
  font-size: 40px;
}
.seller img {
  margin: 30px 0 5px 0;
  border-radius: 5px;
}
/* LINEAS DE NEGOCIO */

/* TESTIMONIALS */
.testimonials{
    text-align: center;
}
.testimonials p {
  font-size: 60px;
  color: #003987;
}
.imgtes {
  border: 5px solid #2C9CEF;
  border-radius: 15px;
  box-shadow: 0px 5px 30px #B8C4C6;
}
/* TESTIMONIALS */

/* INSPIRATION SECTION */
.inspiration{
    text-align: center;
    font-size: 37px;
    background: linear-gradient(to left, rgb(36, 26, 27), rgb(2, 26, 22));
    margin-top: 5%;
    margin-bottom: 7%;
    padding-top: 3%;
		padding-bottom: 3%;
		box-shadow: 0px 1px 30px #B8C4C6;
}
.inspiration p{
    color: white;
    margin: 0px 230px 0px 230px;
}
.sellertime{
	color: #FBCD00
}
/* INSPIRATION SECTION */

/* CONTACTME */
footer{
	text-align: center;
	background: rgb(255, 255, 255);
	padding-bottom: 5%;
}
.contact h3{
		display: flex;
		justify-content: center;
		color: #00082C;
		font-size: 50px;
}
.contact_us{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.cname{
	font-size: 25px;
	margin: 5px;
}
.cmail{
	font-size: 25px;
	margin: 22px;
}
.coment{
	font-size: 18px;
}
.textarea1{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #00082C;
}
.contact_us input{
	border: 1px solid #00082C;
	width: 400px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 20px;
	cursor: text;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	padding: 10px;
}
.btn{
	margin-top: 20px;
	width: 25%;
	padding: 10px;
	color: #00082C;
	font-size: 20px;
	margin: 0 auto;
	border: 0;
	background: #FBCD00;
	border-radius: 12px;
}
/* CONTACTME */


/* ANIMATIONS */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* ANIMATIONS */